// /////////////////////////
// @@ HEADER
// ////////////////////////

.header {
  grid-template-columns: 1fr 1fr;
  height: 30vh;
  grid-gap: 2rem;

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__left {
    background: coral;
  }

  &__right {
    background: darkgoldenrod;
  }
}