// /////////////////////////
// @@  MAIN REGION
// ////////////////////////

.main {
  display: grid;  
  grid-auto-rows: minmax(30vh, auto);
  margin-top: 2rem;

  &--sidebar {
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
  }

  &--no-sidebar{    
    grid-template-columns: 1fr;    
  }

  &__content {
    order: 1;
    background: aquamarine;
    padding: 2rem;
  }

  &__sidebar {
    order: 2;
    background: cadetblue;
    padding: 2rem;
  }

  // Mediaquery
  @include respond(phone) {
    grid-template-columns: 1fr;

    &__content {
      order: 2;
    }

    &__sidebar {
      order: 1;
    }
  }
}