{#
/**
 * Footer
 */
 #}

<footer class="footer">
    <div class="footer__left">{{ page.footerleft }}</div>
    <div class="footer__midle u-text-center">{{ page.footermidle }}</div>
    <div class="footer__right u-text-right">{{ page.footerright }}</div>
</footer>

