// /////////////////////////
// @@  TYPOGRAPHY
// ////////////////////////

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font: {
    family: 'Lato', sans-serif;
    size: 1.6rem;;
  }
}

a {
  color: $color--gray;
}