{#
/**
 * page
 */
 #}

{% include directory ~ '/templates/partials/shared/navigation.html.twig' %}

<div class="container">

    {% include directory ~ '/templates/partials/header.html.twig' %}

    {% include directory ~ '/templates/partials/pages/page-main.html.twig' %}

    {% include directory ~ '/templates/partials/shared/footer.html.twig' %}

</div>

