
{% include directory ~ '/templates/partials/shared/navigation.html.twig' %}

<header class="header">
    <div class="header__left u-text-left">{{ page.headerleft }}</div>
    <div class="header__right u-text-right">{{ page.headerright }}</div>
</header>

<section class="wrapper">
    <div class="wrapper__content">{{ page.content }}</div>
    <div class="wrapper__sidebar">{{ page.sidebar }}</div>
</section>

{% include directory ~ '/templates/partials/shared/footer.html.twig' %}